page-public-anouncementqhd {
    $arctice-item-padding: 0 6px;
    $arctice-item-width: 100%;
    $arctice-item-border: 1px dotted #c8c7cc;
    #AuditDiv {
        padding-top: 14rem;
        text-align: center;
    }
    .template-icon {
        width: 160px;
        height: 160px;
    }
    .template-title {
        font-size: 1.6rem;
        font-weight: 600;
    }
    .template-sub-title {
        font-weight: normal;
        font-size: 1.4rem;
        color: #666666;
    }
    .article-item {
        padding: $arctice-item-padding;
        position: relative;
        .item-title-special {
            width: $arctice-item-width;
            white-space: initial;
            color: #000000;
            line-height: 2rem;
        }
        .item-publish>span {
            color: #666666;
            font-size: 1.2rem;
            margin-right: 12px;
        }
        .item-badge {
            position: absolute;
            right: 0;
            top: 0;
        }
        .badge {
            background-color: #0066B3;
            color: #ffffff;
            border-radius: 2px;
            font-size: 1.3rem;
            padding: 2px 5px;
            margin: 0 2px;
        }
        .badge.badge-black {
            background-color: #393d49;
        }
        .badge.badge-orange {
            background-color: #ff5722;
        }
        .badge.badge-green {
            background-color: #5FB878;
        }
    }
    .list-ios.article-list .item-block .item-inner {
        border-bottom: $arctice-item-border;
    }
    .list-md.article-list .item-block .item-inner {
        border-bottom: $arctice-item-border;
    }
}