page-detail-modal {
    #category {
        background-image: none;
        background-color: #fff;
    }
    #category .has-header {
        top: 0;
    }
    #category div,
    ul,
    li,
    h1,
    h2,
    h3,
    img,
    a {
        font-family: '微软雅黑';
        font-size: 16px;
        padding: 0;
        margin: 0;
        border: 0;
        list-style: none;
        color: #666;
        font-weight: 300;
    }
    #category a,
    span {
        display: block;
        text-decoration: none;
    }
    #category body {
        overflow: hidden;
    }

}
